/*404 page style*/
.four-o-four {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 200px;
    font-weight: 600;
    margin-top: 0px;
    margin-right: 15px;
    margin-left: 15px;
    color: #4A4A4A;
}

.emoji {
    border-radius: 50%;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #FFDC61;
}

.emoji1:after,
.emoji1:before {
    position: absolute;
    display: block;
    content: "";
    height: 45px;
    width: 30px;
    background-color: #272232;
    border-radius: 50%;
    top: 50px;
    -webkit-animation: emoji1-face-move 3s ease-in-out infinite, emoji1-eyes-blink 1s ease-in-out infinite;
    animation: emoji1-face-move 3s ease-in-out infinite, emoji1-eyes-blink 1s ease-in-out infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.emoji1:after {
    left: 45px;
}

.emoji1:before {
    left: 125px;
}

.emoji1 .mouth {
    position: absolute;
    height: 70px;
    width: 50px;
    background-color: #272232;
    border-radius: 50%;
    top: 115px;
    left: 75px;
    -webkit-animation: emoji1-face-move 3s ease-in-out infinite;
    animation: emoji1-face-move 3s ease-in-out infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.vertical {
    width: 0px;
    height: 80px;
    border: 2px dashed #272232;
}
/*
.btn {
    background-color: var(--Primary);
    color: var(--White);
    display: inline;
    margin-top: 30px;
}

.btn a {
    background-color: var(--Primary);
    color: var(--White);
    padding: 15px;
    font-weight: normal;
}
*/
.theme-color {
    background-color: #546de5;
}

.spacer {
    height: 100px;
    width: 100%;
}

.small-spacer {
    height: 60px;
    width: 100%;
}

.x-small-spacer {
    height: 30px;
    width: 100%;
}

.x-large-text {
    font-size: 18px;
    margin: 18px;
}

@-webkit-keyframes emoji1-eyes-blink {
    0% {
        height: 45px;
    }

    97% {
        height: 45px;
    }

    100% {
        height: 0px;
    }
}

@keyframes emoji1-eyes-blink {
    0% {
        height: 45px;
    }

    97% {
        height: 45px;
    }

    100% {
        height: 0px;
    }
}

@-webkit-keyframes emoji1-face-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    30% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    35% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    65% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    70% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    85% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    90% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes emoji1-face-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    30% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    35% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    65% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    70% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    85% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    90% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/*MEDIA QUERIES*/
@media only screen and (max-width : 768px) {
    h1 {
        font-size: 120px;
        margin: 0px;
    }

    .spacer {
        height: 50px;
        width: 100%;
    }

    .small-spacer {
        height: 40px;
        width: 100%;
    }

    .x-small-spacer {
        height: 10px;
        width: 100%;
    }

    .x-large-text {
        font-size: 16px;
        margin: 16px 0;
    }
}