

.formClass {
    margin-left: 170px;
    margin-right: 170px;    
}

#email{
    margin-right: 10px;
    width: 95%;
    border:none;
    background-color: white;
    height: 60px;
    margin-block-start: 10px;
}

#phone{
    width: 98%;
    border:none;
    background-color: white;
    height: 60px;
    margin-block-start: 10px;
}


.emailAndPhone {
    display:flex;
    width:100%;
}

.emailAndPhone > div {
    width:100%; 
    margin-block-end: 20px;
}

.nameDiv{
    width:100%;
    margin-block-end: 20px;
}

#name {
    width:99%;
    border:none;
    background-color: white;
    height: 60px;
    margin-block-start: 10px;
}

.messageDiv {
    width:100%;
    margin-bottom: 134px; 
    height: 200px; 
}

#message{
    padding-top: 20px;
    width:99%;
    border:none;
    background-color: white;
    margin-block-start: 10px;
}

#submitForm{
    width: 100%;
    height: 28px;
}

label {
    margin-bottom: 10px;
}

/*Validations*/
.errorForm{
    color: red;
    font-size: 14px;
    font-weight: bold;
}

