/*@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

:root {
  --NeutralDark: ##292E47;
  --NeutralMedium: #6B708D;
  --DarkBlue: #072AC8;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
  background: #F2F4FC;

}

.capitalize {
  text-transform: capitalize;
}*/


/* --- GLOBAL VARIABLES --- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --Primary: #072ac8;
  --PrimaryLight: #a2d6f9;
  --PrimaryLighter: #d1edff;
  --SecondaryLight: #fce300;
  --SecondaryDark: #ffc600;
  --NeutralLight: #f4f6fc;
  --NeutralMedium: #6b708d;
  --NeutralDark: #292e47;
  --Wrong: #b33a3a;
  --Right: #28a428;
  --White: #fff;
  --Black: #000;
  --Background: #F2F4FC;
}



* {
  background: var(--Background);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 0;
}

/* --- DEFAULT DESIGN: SMARTPHONE --- */

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--NeutralDark);
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  color: var(--NeutralDark);
  font-weight: normal;
  margin-bottom: 40px;
}

h4 {
  font-size: 24px;
  color: var(--NeutralDark);
}

.capitalize {
  text-transform: capitalize;
}



