@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

:root {
  --NeutralDark: ##292E47;
  --NeutralMedium: #6B708D;
  --DarkBlue: #072AC8;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
  background: #F2F4FC;

}

.capitalize {
  text-transform: capitalize;
}

