.nav-bar {
    background: rgb(25, 33, 41);
    color: white;
    padding: 14px 0;
}
  
  .nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 2em;
 }
  
  .nav-bar-ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
  
  .nav-bar-ul li {
    list-style-type: none;
    text-align: center;
}