/* --- HOME GENERAL --- */

a {
    text-decoration: none;
    color: var(--NeutralMedium);
    font-weight: bold;
}

section {
    margin-bottom: 150px !important;
}

/* --- HERO SECTION --- */

.hero-content {
    text-align: left;
    margin-bottom: 50px;s
} 

.hero-content div.hero-content-buttons {
    margin: 0;
}

.hero-content a.btn:hover {
    color: var(--SecondaryDark);
}

.hero {
    margin: 60px auto;
    max-width: 85%;
}

.hero-content-buttons a:hover {
    color: var(--Primary);
}

.btn {
    background-color: var(--Primary);
    color: var(--White);
    display: inline;
    margin-top: 30px;
}

.btn a {
    background-color: var(--Primary);
    color: var(--White);
    padding: 15px;
    font-weight: normal;
}

.hero div.hero-content-buttons a {
    padding: 15px;
}

.hero div.hero-content-buttons a.btn {
    font-weight: normal;
}

.hero-images {
    position: relative;
}

.img-hero {
    width: 600px;
    max-width: 100%;
}

.img-card {
    max-width: 250px;
    position: absolute;
    top: 0%;
    left: -15%;
    background-color: rgba(0, 0, 0, 0);
    display: none;
}

.img-card-botton {
    top: auto;
    left: auto;
    right: -15%;
    bottom: -15%;
}

/* --- CLIENTS SECTION --- */

.clients {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

.img-client {
    margin: 0 auto;
    filter: grayscale(1);
}

.img-client:hover {
    filter: grayscale(0);
}

/* --- RECENT PROJECTS SECTION --- */

.recent-projects {
    margin-top: 50px;
}

.recent-projects h2 {
    margin: 30px;
    text-align: left;
}

.project-card,
.project-card h4,
.project-card p,
.project-card a {
    background-color: var(--White);
    text-align: left;
    color: var(--Black);
}

.project-card {
    margin: 20px auto;
    padding-bottom: 10px;
    width: 80%;
}

.project-card:hover,
.services-card:hover {
    box-shadow: 10px 5px 5px var(--NeutralMedium);
}

.project-text {
    background-color: var(--White);
}

.project-card h4,
.project-card p,
.project-card a {
    margin: 10px 0;
}

.project-card h4,
.project-card p,
.project-card .learn-more {
    padding-left: 10px;
}

.project-card p {
    color: var(--NeutralMedium);
    font-weight: normal;
    margin-bottom: 50px;
}

.project-card a {
    color: var(--Primary);
}

.project-card img {
    display: inline;
    width: 100%;
    height: 200px;
}

.learn-more {
    margin-top: 50px;
    color: var(--Primary);
}

.learn-more:hover {
    cursor: pointer;
}

.project-inner-card {
    background-color: var(--White);
    margin: 10px;
}

/* --- TESTIMONIAL SECTION --- */

.testimonial {
    background-color: var(--NeutralDark);
    background-image: url("../img/testimonial/orbit.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 80px 0;
    margin: 40px;
    text-align: center;
}

.testimonial-memojis {
    background-color: rgba(0, 0, 0, 0);
    display: none;
}

.testimonial-memojis img {
    max-width: 75px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

.testimonial-memoji1 {
    top: 5%;
    left: 5%;
    right: auto;
    bottom: auto;
}

.testimonial-memoji2 {
    top: 5%;
    left: auto;
    right: 5%;
    bottom: auto;
}

.testimonial-memoji3 {
    top: auto;
    left: 5%;
    right: auto;
    bottom: 5%;
}

.testimonial-memoji4 {
    top: auto;
    left: auto;
    right: 5%;
    bottom: 5%;
}

.testimonial-text {
    background-color: var(--NeutralDark);
    padding: 20px;
}

.testimonial-text h3 {
    color: var(--White);
    background-color: var(--NeutralDark);
    font-weight: bold;
    font-size: 30px;
}

.testimonial-text p {
    background-color: var(--NeutralDark);
    color: var(--SecondaryDark);
    font-size: 16px;
}

.testimonial-profile{
    background-color: var(--NeutralDark);
    display: flex;
    align-items: center;
    max-width: 200px;
}

.testimonial-profile-info,
.testimonial-profile-info p.name,
.testimonial-profile-info p.origin {
    background-color: var(--NeutralDark);
    text-align: left;
}

.testimonial-profile-info p.name {
    color: var(--PrimaryLight);
}

.testimonial-profile-info p.origin {
    color: var(--White);
}

.testimonial-profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* --- SERVICES SECTION --- */

.services h2 {
    margin: 30px;
    text-align: left;
}

.services-card,
.services-card h4,
.services-card p,
.services-card a {
    background-color: var(--White);
    text-align: left;
    padding: 10px;
}

.services-card p {
    color: var(--NeutralMedium);
    margin-bottom: 50px;
}

.services-card {
    margin: 20px auto;
    padding: 30px 15px;
    width: 80%;
}

.img-services {
    background-color: var(--PrimaryLighter);
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    width: 40px;
    height: 40px;
}

.img-services img {
    background-color: var(--PrimaryLighter);
}

/* --- CALL TO ACTION SECTION --- */

.call-to-action {
    padding: 40px 20px;
    margin: 40px;
}

.call-to-action h2 {
    margin-bottom: 20px;
}

.call-to-action,
.call-to-action h2,
.call-to-action h3,
.call-to-action form {
    background-color: var(--SecondaryLight);
}

.call-to-action form {
    width: 70%;
}

.call-to-action input {
    background-color: var(--White);
    border: none;
    padding: 20px;
    font-size: 20px;
    display: block;
    margin: 20px auto;
}

.call-to-action input[type="email"] {
    background-image: url("../assets/newsletter/icon/mail.svg");
    background-repeat: no-repeat;
    background-position: 5%;
    text-align: center;
}

.call-to-action input[type="email"]:hover {
    border: 1px solid var(--Black);
}

.call-to-action input[type="button"] {
    background-color: var(--Primary);
    color: var(--White);
}

.call-to-action input[type="button"]:hover {
    cursor: pointer;
    font-weight: bold;
}

/* --- INTERMEDIATE TABLET / DEKTOP ADJUSTMENTS --- */

@media (min-width: 768px) and (max-width: 1500px) {
    .img-hero {
        width: 900px;
    }

    .img-card {
        max-width: 240px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .img-hero {
        width: 800px;
    }

    .img-card {
        max-width: 200px;
    }
}

/* --- TABLET ADJUSTMENTS --- */

@media (min-width: 768px) {
    .hero {
        display: flex;
    }

    .hero-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-bottom: 20px;
        margin: 0 auto;
    } 

    .img-card {
        display: inline-block;
    }

    .project-wrapper {
        background-color: var(--NeutralLight);
    }

    .clients,
    .services,
    .recent-projects {
        width: 90%;
        margin: 0 auto;
    }

    .clients {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 150px;
        margin-bottom: 200px;
    }

    .project-card {
        width: 40%;
    }

    .project-container {
        display: flex;
        flex-flow: row wrap;
    }

    .testimonial {
        margin: 30px auto;
    }

    .testimonial-text h3 {
        font-size: 32px;
    }

    .testimonial-text p {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .testimonial-memojis {
        display: inline-block;
    }

    .call-to-action {
        margin: 40px auto;
        padding: 80px;
        -top: 40px;
    }

    .call-to-action form {
        display: grid;
        gap: 50px;
        grid-template-columns: 2fr 1fr;
    }

    .call-to-action h2 {
        font-size: 40px;
    }

    .call-to-action h3 {
        font-size: 30px;
    }

    .call-to-action input[type="email"] {
        width: 100%;
    }
    
    .call-to-action-suscribe {
        background-color: var(--SecondaryLight);
    }

    .call-to-action-suscribe,
    .call-to-action input[type="button"] {
        width: 200px;
    }
}

/* --- DESKTOP ADJUSTMENTS --- */

@media (min-width: 992px) {
    h1 {
        font-size: 50px;
    }

    .hero h3 {
        font-size: 24px;
    }

    .clients {
        display: flex;
        justify-content: space-between;
    }

    .img-hero {
        width: 800px;
        max-width: auto;
    }

    .services-container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        margin: 0 auto;
        width: 95%;
    }

    .project-container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        margin: 0 auto;
        width: 95%;
    }

    .project-card {
        width: 30%;
    }

    .testimonial-text h3 {
        font-size: 40px;
    }

    .testimonial-text p {
        font-size: 24px;
    }

    .services-container {
        max-width: 1200px;
    }
}