* {
    text-decoration: none;
}

body {
    width:100%;
}

/* --- TITLE SECTION --- */



.title {
  text-align: left;
  font-size: 60px;
  margin-left: 80px;
  margin-top: 10%;
}

.subtitle { 
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
}

.UI-design-title {
 
  color: var(--NeutralMedium);
  font-size: 24px;
  margin: 0;
}

.completed-title {
  
  color: var(--NeutralDark);
  font-size: 20px;
  margin: 0;
}

.completed-title-data {
  color: var(--NeutralMedium);
  font-size: 20px;
  margin: 0;
  margin-right: 80px;
}



/* --- INFO PROJECT SECTION --- */


.project-image-section {
    width: 100%;
    margin-top: 6%;
    margin-bottom: 5%;

}

.project-image {
    width: 85%;
    height: 20vh;
    object-fit: cover;
  
    filter: drop-shadow(5px 5px 20px #C414CA74)
}

.project-description {
  font-family: Roboto;
  color: var(--NeutralMedium);
  margin-bottom: 7%;
  text-align: left;
  background-color: var(--NeutralLight);
  margin-left: 80px;
  margin-right: 80px;
  font-size: 19px;
}


/* --- RECENT PROJECTS SECTION --- */

.recent-projects {
    margin-top: 50px;
}

.recent-projects h2 {
    margin: 30px;
    text-align: left;
}

.project-card,
.project-card h4,
.project-card p,
.project-card a {
    background-color: var(--White);
    text-align: left;
    color: var(--Black);
}

.project-card {
    margin: 20px auto;
    padding-bottom: 10px;
    width: 80%;
}

.project-card:hover,
.services-card:hover {
    box-shadow: 10px 5px 5px var(--NeutralMedium);
}

.project-text {
    background-color: var(--White);
}

.project-card h4,
.project-card p,
.project-card a {
    margin: 10px 0;
}

.project-card h4,
.project-card p,
.project-card .learn-more {
    padding-left: 10px;
}

.project-card p {
    color: var(--NeutralMedium);
    font-weight: normal;
    margin-bottom: 50px;
}

.project-card a {
    color: var(--Primary);
}

.project-card img {
    display: inline;
    width: 100%;
    height: 200px;
}

.learn-more {
    margin-top: 50px;
    color: var(--Primary);
}

.learn-more:hover {
    cursor: pointer;
    text-decoration: underline; 
}

.project-inner-card {
    background-color: var(--White);
    margin: 10px;
}

/* --- TABLET ADJUSTMENTS --- */

@media (min-width: 768px) {
 
  .project-image {
        width: 95%;
        height: 25vh;
        margin: 0 auto;
       
  }

  .project-image-section {
    width: 85%;
  

}


  .project-wrapper {
    background-color: var(--NeutralLight);
  }

  .recent-projects {
    width: 90%;
    margin: 0 auto;
  }

  .project-card {
    width: 40%;
  }

  .projects-container {
    display: flex;
    flex-flow: row wrap;
  }
}

/* --- DESKTOP ADJUSTMENTS --- */

@media (min-width: 992px) {
  h1 {
    font-size: 50px;
  }


.project-image {
    width: 100%;
    height: 56vh;
}

  .projects-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin: 0 auto;
    width: 95%;
  }

  .project-card {
    width: 30%;
  }
}
